<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat.Da.Burger</title>
    <!-- MATERIALIZE CSS LINKAGE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- FONTAWESOME LINKAGE -->    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
    <!-- GOOGLE FONTS LINKAGE -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <!-- CSS LINKAGE -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body id="body-area">
    <!-- NAV START -->
    <nav> 
        <div class="nav-wrapper">
            <div data-target="slide-out" class="sidenav-trigger" id="nav-row-div">
                <a id="nav-row" class="brand-logo">
                    <i id="nav-brand-icon" class="fas fa-hamburger"></i>
                    &nbsp;Eat.Da.Burger
                </a>
            </div>
        </div>
    </nav>
    <!-- NAV END -->
    <!-- MAIN AREA START -->
    <main>
        {{{body}}}
    </main>
    </div>
    <!-- MAIN AREA END -->
    <!-- STICKY FOOTER START -->
    <footer class="page-footer">
        <div id="main-footer-cp" class="footer-copyright">
            <div id="main-footer"class="container right-align">Copyright © Gatito <i class="fas fa-cat"></i></div>
        </div>
    </footer>
    <!-- STICKY FOOTER END -->
    <!-- JQEURY LINKAGE -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- MOMENT.JS LINKAGE -->
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>